<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg"> 
    <%- include('nav.ejs') %>

    <div class="detail-bg">
        <h4><%=result.username%> <%= result.title %></h4>
        <p><%= result.content %></p>
        <a href="/enroll/<%=result._id%>">신청</a>
        <br><a href="/post/<%=result._id%>">게시물 작성</a>
    </div>
  
  </body>
</html>