<!--ejs 파일은 html 파일인데 서버데이터 집어넣을 수 있을 뿐-->
<!-- 중요한 ejs 문법
    <% %> : html 사이에 자바스크립트 문법쓸 때 (ex. for문)
    <%- %> : include 문법와 같은 특수한 분법쓸 때
    <%= %> : <%- %> 와 같은 데 <%= %>는 태그 안에 있는 것들을 전부 문자로 전환 (html 태그 포함), <%- %> 안에 html 태그가 있으면 실제 html 처럼 렌더링되어 나옴
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    
    <%- include('nav.ejs') %> 
    <!-- html 중간에 array, object 대충 넣으면 깨짐 : JSON.stringify(posts) 사용 -->
    <div class="white-bg">
    <% for(let i=0; i<posts.length; i++){ %> <!-- ejs에서는 script tag 없이 자바스크립트 문법도 사용가능, 대신 줄마다 <% %> 넣어야함 -->
        <div class="list-box">
            <h4>
                <a href="/detail/<%=posts[i]._id%>"><%= posts[i].title %></a>
            </h4>
            <p><%=posts[i].username%></p> 
            <p></p>
          </div>
    <% } %>
    </div> 


  </body>
</html>