<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    
    <%- include('nav.ejs') %> 
    <div class="white-bg">
        <h3>
            <%= result.title %>
        </h3>
        <% for(let i=0; i<result.students.length; i++){ %> 
            <div class="list-box">
                <p><%=result.students[i].username%></p> 
                <a href="/cancel/<%=result._id%>/<%=result.students[i]._id%>">수강취소</a>
            </div>
            <% } %>
    </div> 
  </body>
</html>